<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.paotui.mapper.GetMapper" >
  <resultMap id="BaseResultMap" type="com.paotui.entity.Get" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="getsite" property="getsite" jdbcType="VARCHAR" />
    <result column="wid" property="wid" jdbcType="INTEGER" />
    <result column="collectsite" property="collectsite" jdbcType="VARCHAR" />
    <result column="gettime" property="gettime" jdbcType="TIMESTAMP" />
    <result column="collecttime" property="collecttime" jdbcType="TIMESTAMP" />
    <result column="spec" property="spec" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="INTEGER" />
    <result column="state" property="state" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, getsite, wid, collectsite, gettime, collecttime, spec, uid, price, state
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_get
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_get
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.paotui.entity.Get" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_get (getsite, wid, collectsite, 
      gettime, collecttime, spec, 
      uid, price, state)
    values (#{getsite,jdbcType=VARCHAR}, #{wid,jdbcType=INTEGER}, #{collectsite,jdbcType=VARCHAR}, 
      #{gettime,jdbcType=TIMESTAMP}, #{collecttime,jdbcType=TIMESTAMP}, #{spec,jdbcType=INTEGER}, 
      #{uid,jdbcType=INTEGER}, #{price,jdbcType=INTEGER}, #{state,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.paotui.entity.Get" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_get
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="getsite != null" >
        getsite,
      </if>
      <if test="wid != null" >
        wid,
      </if>
      <if test="collectsite != null" >
        collectsite,
      </if>
      <if test="gettime != null" >
        gettime,
      </if>
      <if test="collecttime != null" >
        collecttime,
      </if>
      <if test="spec != null" >
        spec,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="state != null" >
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="getsite != null" >
        #{getsite,jdbcType=VARCHAR},
      </if>
      <if test="wid != null" >
        #{wid,jdbcType=INTEGER},
      </if>
      <if test="collectsite != null" >
        #{collectsite,jdbcType=VARCHAR},
      </if>
      <if test="gettime != null" >
        #{gettime,jdbcType=TIMESTAMP},
      </if>
      <if test="collecttime != null" >
        #{collecttime,jdbcType=TIMESTAMP},
      </if>
      <if test="spec != null" >
        #{spec,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        #{price,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.paotui.entity.Get" >
    update t_get
    <set >
      <if test="getsite != null" >
        getsite = #{getsite,jdbcType=VARCHAR},
      </if>
      <if test="wid != null" >
        wid = #{wid,jdbcType=INTEGER},
      </if>
      <if test="collectsite != null" >
        collectsite = #{collectsite,jdbcType=VARCHAR},
      </if>
      <if test="gettime != null" >
        gettime = #{gettime,jdbcType=TIMESTAMP},
      </if>
      <if test="collecttime != null" >
        collecttime = #{collecttime,jdbcType=TIMESTAMP},
      </if>
      <if test="spec != null" >
        spec = #{spec,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.paotui.entity.Get" >
    update t_get
    set getsite = #{getsite,jdbcType=VARCHAR},
      wid = #{wid,jdbcType=INTEGER},
      collectsite = #{collectsite,jdbcType=VARCHAR},
      gettime = #{gettime,jdbcType=TIMESTAMP},
      collecttime = #{collecttime,jdbcType=TIMESTAMP},
      spec = #{spec,jdbcType=INTEGER},
      uid = #{uid,jdbcType=INTEGER},
      price = #{price,jdbcType=INTEGER},
      state = #{state,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByOrder" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_get
    where
    <if test="uid != null">
      uid = #{uid,jdbcType=INTEGER}
    </if>
    <if test="state != null">
      and state = #{state,jdbcType=INTEGER}
    </if>
  </select>
</mapper>